html,
body {
  height: 100%;
}

body {
  margin-top: 5%;
}


.bg-color-home {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #434343, #000000);
    background: -moz-linear-gradient(left, #434343, #000000);
    background: -o-linear-gradient(left, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    color: #ECE9E6;
}

